.filters {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #DDD ;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: right;
}
.locations {
    height: 100%;
    width: 25%;
    border-right: 1px solid #ddd;
    margin-right: 0;
}

.amenities {
    height: 100%;
    width: 25%;
    margin-right: auto;
}

.title {
    font-weight: 600;
    margin-bottom: 0;
    margin-left: 15%;
    text-align: left;
}

.subtitle {
    font-weight: 400;
    font-size: 14px;
    margin-top: 1%;
    margin-left: 15%;
    text-align: left;
}

button {
    font-size: 18px;
    background-color: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;
    text-align: center;
}

.container button:hover {
    opacity: 90%;
}